{
    "printWidth": 120,
    "trailingComma": "none",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["typescript", "jsx", "mdx"],
    "importOrder": ["^@/constants/(.*)$", "^@/stores/(.*)$", "^@/components/(.*)$", "^[./]"],
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
